<!-- base.html -->
{% load static %}
<html>
    <head>
            
        <meta charset="UTF-8">
        <!--<title> Responsiive Admin Dashboard | CodingLab </title>-->
        <link href="{% static 'afl_events/css/style.css' %}" rel="stylesheet" type="text/css" />
        <!-- Boxicons CDN Link -->
        <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        
        <title>{% block title %}{% endblock title %}</title>
        {% block css %} {% endblock css %}
        {% block headjavascript %} {% endblock headjavascript %}
    </head>
    <body>
            <div class="sidebar">
                    <div class="logo-details">
                      <i class='bx bxl-c-plus-plus'></i>
                      <span class="logo_name">Event Management</span>
                    </div>
                      <ul class="nav-links">
                        <li>
                          <a href="#" class="active">
                            <i class='bx bx-grid-alt' ></i>
                            <span class="links_name">Payment</span>
                          </a>
                        </li>
                     
                
                        
                
                
                      </ul>
                  </div>
                  <section class="home-section">
                    <nav>
                   
                      <div class="sidebar-button">
                        <i class='bx bx-menu sidebarBtn'></i>
                        <span class="dashboard">Payment</span>
                      </div>
                     
                      <div class="profile-details">
                        <!--<img src="images/profile.jpg" alt="">-->
                        <span class="admin_name">
                        {% if user.is_authenticated %}
                        <p>{{user.first_name}} {{user.last_name}}</p>
                        <p>{{user.email}}</p></span>
                        {% endif %}
                        <!-- <i class='bx bx-chevron-down' ></i> -->
                      </div>
                    </nav>
                
                    <div class="home-content">
                      <div class="overview-boxes">
                        <div class="box">
                          <div class="right-side">
                            <div class="box-topic">Total Events</div>
                            <div class="number">40,876</div>
                            <div class="indicator">
                              <i class='bx bx-up-arrow-alt'></i>
                              <span class="text">Up from yesterday</span>
                            </div>
                          </div>
                          <i class='bx bx-cart-alt cart'></i>
                        </div>
                        <div class="box">
                          <div class="right-side">
                            <div class="box-topic">Next Event</div>
                            <div class="number">38,876</div>
                            <div class="indicator">
                              <i class='bx bx-up-arrow-alt'></i>
                              <span class="text">Up from yesterday</span>
                            </div>
                          </div>
                          <i class='bx bxs-cart-add cart two' ></i>
                        </div>
                        <div class="box">
                          <div class="right-side">
                            <div class="box-topic">Total Payment</div>
                            <div class="number">$12,876</div>
                            <div class="indicator">
                              <i class='bx bx-up-arrow-alt'></i>
                              <span class="text">Up from yesterday</span>
                            </div>
                          </div>
                          <i class='bx bx-cart cart three' ></i>
                        </div>
                        <div class="box">
                          <div class="right-side">
                            <div class="box-topic">Active Events </div>
                            <div class="number">11,086</div>
                            <div class="indicator">
                              <i class='bx bx-down-arrow-alt down'></i>
                              <span class="text">Down From Today</span>
                            </div>
                          </div>
                          <i class='bx bxs-cart-download cart four' ></i>
                        </div>
                      </div>
                      {% block content %} {% endblock content %}
                </div>
                      
                  </section>
        <!-- <h1>Built-In User Registeration / Authentication App</h1> -->

        

        {% block javascript %} {% endblock javascript %}
    </body>
</html>