{% extends "base.html" %}
<!-- templates/payment.html -->
{% block css %} 
{% endblock css %}
{% block headjavascript %}
 {% endblock headjavascript %}

{% block content %}

<div class="wrapper-content">
        <div class="cart-wrapper">
            <div class="container inner-container">
                <div class="cart-wizard-wrapper py-35">
                    <div class="cart-wizard-inner">
             <div class="test-payment-div">
              <!-- templates/payment.html -->
              <form action="{{ form.action }}" method="{{ form.method }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p><input type="submit" value="Proceed" /></p>
                </form>
              </div>
            </div>
         </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block javascript %}
 {% endblock javascript %}