<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Event Management</span>
    </div>
      <ul class="nav-links">
        <li>
          <a href="#" class="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class='bx bx-box' ></i>
            <span class="links_name">Event List</span>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="log_out">
          <a href="#">
            <i class='bx bx-log-out'></i>
            <a href="{% url 'afl_events:logout' %}">Logout</a>

            <span class="links_name">Log out</span>
          </a>
        </li>
        {% endif %}


      </ul>
  </div>